/* demo css */
.container {
	width: 50%;
	margin: 10% auto;
}
/* write example css below */
.box {
	
	color: red;
	
	border-style: solid;
	
	border-color: grey;
	
	border-width: 10px;
	
	/*border-top-width: 5px;*/
	
	/*border-right-width: 10px;*/
	
	/*border-bottom-width: 5px;*/
	
	/*border-left-width: 10px;*/
	
	/*border-top-color: blue;*/
	
	/*border-right-color: red;*/
	
	/*border-bottom-color: green;*/
	
	/*border-left-color: grey;*/
	
	/*border-top-style: solid;*/

	/*border-right-style: solid;*/

	/*border-bottom-style: solid;*/

	/*border-left-style: solid;*/
	}
